<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
         <div class="ui-g-12">
           <h1>Configuracao de bancos</h1>
         </div>

         <div class="ui-g-12 ui-fluid">
           <label>Nome do Banco</label>
           <input pInputText type="text" name="nome" placeholder="Digita o nome do banco"
           [(ngModel)]="banco.nome" #nome="ngModel" required minlength="3">
         </div>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info space"></button>
      </div>
    </form>
    <div class="ui-g-12">
    <p-table [value]="bancos">
        <ng-template pTemplate="header">
            <tr>
               <th>Codigo</th>
               <th>Nome do Banco</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-banco>
            <tr>
                <td>{{banco.codigo}}</td>
                <td>{{banco.nome}}</td>
            </tr>

        </ng-template>
    </p-table>
   </div>
  </div>
