<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #34495E;">
    <a class="navbar-brand" href="#">POS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuracao</a>
            <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/bancos">Bancos</a>
              <a class="dropdown-item" routerLink="/categorias">Categorias</a>
              <a class="dropdown-item" routerLink="/fabricantes">Fabricantes</a>
              <a class="dropdown-item" routerLink="/moedas">Moedas</a>
              <a class="dropdown-item" routerLink="paises">Paises</a>
              <a class="dropdown-item" routerLink="unidades">Unidades</a>
            </div>
          </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POS Back</a>
          <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="#">Historico de Caixa</a>
            <a class="dropdown-item" routerLink="#">Gestao de Clientes</a>
            <a class="dropdown-item" routerLink="#">Contas correntes de clientes</a>
            <a class="dropdown-item" routerLink="/fornecedores">Gestao de fornecedores</a>
            <a class="dropdown-item" routerLink="/produtos">Gestao de Stocks</a>
            <a class="dropdown-item" routerLink="#">Documentos internos</a>
            <a class="dropdown-item" routerLink="#">Facturacao de Clientes</a>
            <a class="dropdown-item" routerLink="#">Recibos c/c para Clientes</a>

          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POS Front</a>
            <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Facturacao</a>
              <a class="dropdown-item" href="#">Caixa</a>
              <a class="dropdown-item" href="#">Precos de Venda</a>
              <a class="dropdown-item" href="#">Recibos</a>

            </div>
          </li>

          <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stock</a>
              <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Cadastro de Produtos</a>
                <a class="dropdown-item" href="#">Pesquisa de Produtos</a>

              </div>
          </li>
      </ul>

    </div>
  </nav>

