<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
      <div class="ui-g-6 ui-fluid">
        <label>Designacao</label>
        <input pInputText type="text" name="designacao" [(ngModel)]="moeda.designacao"
         #designacao="ngModel" required minlength="3">
      </div>
      <div class="ui-g-6 ui-fluid">
      <label>Sigla</label>
      <input pInputText type="text" name="sigla" [(ngModel)]="moeda.sigla"
       #sigla="ngModel" required minlength="2">
       </div>
      <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      </div>
    </div>

  </form>
<div class="ui-g">
  <div class="ui g-12">
    <p-table [value]="moedas">
      <ng-template pTemplate="header">
        <tr>
          <th>Codigo</th>
          <th>Designacao</th>
          <th>Sigla</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-moeda>
        <tr>
          <td>{{ moeda.codigo }}</td>
          <td>{{ moeda.designacao }}</td>
          <td>{{ moeda.sigla }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
 </div>
</div>
