/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

label {
  font-weight: bold;
}

.ui-dropdown-filter-container {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-acoes {
  width: 90px;
  text-align: center;
}
.space {
  margin-left: 5px;
}

.col-data-header {
  width: 120px;
}
.col-acoes-header {
  width: 90px;
}
.col-email {
  width: 100%;
  margin: auto;
}
